<div class="py-4 mb-8 border text-center shadow-lg font-bold bg-white">
  <%= Time.now.strftime("%d %b %Y, %H:%M:%S") %>
</div>

  <p class="my-4">Lorem ipsum dolor</p>
<p><%= defined?(my_value) && my_value.present?  ? my_value : 10  %></p>
