<%= turbo_stream_from "event_when_button_clicked" %>

<%= button_to "Click me", third_page_path, remote: true, class: "turbo-frame" %>

<div class="my-8 w-full mx-auto" id="content">
  <%= render "dynamic_content" %>
</div>
